
<center><% if @appointments == [] %>
    <br></br>
    <strong><p><%= "You have no appointments." %></p></strong>
<% end %>
</center>
<center><%= link_to "New Appointment", new_appointment_path, :class => "btn btn-primary btn-lg" %></center>
<br></br>

<center>
<div class="btn-group-vertical">

    <% @appointments.each do |appointment| %>
        <%= link_to appointment.date, appointment_path(appointment.id), :class => "btn btn-secondary btn-lg" %>
    <% end %>

</div>
</center>


