<br></br>
<center>
<div class="card bg-white mb-3">
    <div class="card-body">
        <p class="card-text">
        <%= "You have an appointment with #{@appointment.therapist.name} on #{@appointment.date} at #{@appointment.apptime.time}." %>
        </p>
        <p>
            <%= button_to "Update Appointment", {:controller => "appointments", :action => "edit", :user_id => session[:user_id]}, :method => :post, :class => "btn-primary btn-sm" %><br/><br/>
            <%= button_to "Cancel Appointment", @appointment, :method => :delete, :class => "btn-primary btn-sm" %>
        </p>
    </div>
</div>
</center>
